# Compiled Object files
*.slo
*.lo
*.o
*.obj
src/prog

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Les vpp temporaires
*.vpp~*
*.vpp.*

#le fichier robot
Robot

#Xcode
*.xcodeproj*
/Debug/
/Release/

#Eclipse
.project
.settings/
.cproject
Robot.layout

#Code::Blocks
Robot.cbp
Robot.depend
